<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h3 class="mb-4">That's my time guys!</h3>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <div class="row g-3">
        <div class="card border-3 col-auto mx-auto">
            <div class="card-header text-center">
                You can Hire me!
            </div>
            <div class="LI-profile-badge mt-3"  
                data-version="v1" 
                data-size="large" 
                data-locale="en_IN" 
                data-type="horizontal" 
                data-theme="light" 
                data-vanity="tanmayhatkar24">
            </div>
        </div>
        
        <div class="card border-3 col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="card-header text-center">
                Or buy me a Coffee!
            </div>
            <img src="/tanmayQrCode.jpg" class="card-img-bottom" alt="QR image">
        </div>
    </div>
</body>