<% layout("layouts/boilerplate.ejs") -%>
<form action="/listings/<%= listing._id %>/reviews" method="post" class="row g-3 needs-validation" novalidate>

    <div class="col-12">
        <label for="comment" class="form-label">Comment</label>
        <textarea
        name="comment"
        id="comment"
        placeholder="Write your comment!"
        class="form-control"
        required
      ></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
        Comment is required!
        </div>
    </div>

    <div class="col-auto col-md-3">
        <label for="rating" class="form-label">Rate</label>
        <fieldset class="starability-coinFlip">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating."/>
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Rating is required!
        </div>
    </div>

    <div class="col-auto col-md-4 flex-grow-1">
        <label for="rating" class="form-label">Created At</label>
        <div class="input-group">
            <input type="date" name="createdAt" id="createdAt" class="form-control" value="<%= new Date().toISOString().split('T')[0] %>" readonly>
        </div>
    </div>

    <div class="col-12 col-md-5 align-self-center pt-2">
        <button type="submit" class="btn btn-danger w-100">Submit</button>
    </div>

</form>